@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Secular+One&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1px;
      grid-template-areas: "header header" "form description";
  width: 60%;
  border-radius: 10px;
  font-family: "Secular One", sans-serif;
  -webkit-box-shadow: 0 0 50px -5px #000000;
          box-shadow: 0 0 50px -5px #000000;
}
.container .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: header;
  text-align: center;
  padding: 10px;
  font-size: 30px;
  border: 1px solid black;
  background: white;
}
.container .login-form {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: form;
  padding: 15px;
  background: white;
  border: 1px solid black;
}
.container .login-form .input-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.container .login-form .input-field .error {
  color: red;
  font-size: 12px;
}
.container .login-form .input-field input {
  height: 30px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding-left: 15px;
  font-size: 16px;
  border-bottom-width: 2px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.container .login-form .input-field input:focus, .container .login-form .input-field input:valid {
  border-color: #9b59b6;
}
.container .login-form .btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.container .login-form .btn button, .container .login-form .btn a {
  background: transparent;
  text-decoration: none;
  color: black;
  outline: none;
  border: none;
  font-family: "Secular One", sans-serif;
  font-size: 19px;
  margin-top: 10px;
  cursor: pointer;
  border-bottom: 3px solid transparent;
}
.container .login-form .btn button:hover, .container .login-form .btn a:hover {
  border-bottom-color: #9b59b6;
}
.container .login-description {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  background: white;
  grid-area: description;
  padding: 15px;
  border: 1px solid black;
}
.container .login-description span {
  font-size: 25px;
  position: relative;
}
.container .login-description span:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 60px;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
    margin: 10px;
  }
}
@media screen and (max-width: 1100px) {
  .container {
        grid-template-areas: "header" "form" "description";
  }
  .container .login-description div {
    margin-top: 25px;
  }
  .container .header {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
  }
  .container .login-form {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .container .login-description {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
}