@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Secular+One&display=swap');

*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  font-family: 'Secular One', sans-serif;
}

body{
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.navbar{
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: white;
  border-bottom: 2px solid black;
  padding: 10px;
  .navbar__logo{
    position: relative;
    font-size: 22px;
    div{
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(135deg, #71b7e6, #9b59b6);
      width: 40px;
      height: 4px;
    }
  }
  .navbar__items{
    display: flex;
    flex-direction: row;
    list-style: none;
    li{
      position: relative;
      margin-right: 20px;
      cursor: pointer;
      letter-spacing: 1px;
      div{
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 4px;
      }
      &:hover{
        div{
          width: 30px;
          background: linear-gradient(135deg, #71b7e6, #9b59b6);
          transition: .2s;
        }
      }
    }
  }
}